<div>


    <form #queryForm="ngForm" (ngSubmit)="onSubmitQuery(queryForm)">
      <div *ngIf="step==1">
      <ng-multiselect-dropdown
        [placeholder]="'select columns'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onItemDeSelect($event)"
      >
      </ng-multiselect-dropdown>

      <!--<input type="text" name="cols" placeholder="Enter needed Columns" [(ngModel)] ="selectClause" ngModel>-->
      </div>
      <br> <br>
      <div *ngIf="step==2">
      <input type="text" name="rows" placeholder="Enter filter criteria"  [(ngModel)] ="whereClause" ngModel>
       </div>
      <br><br>



      <button (click)=clause()  (click)=next() *ngIf="step==1">Next</button>
      <button (click)=previous() *ngIf="step==2">Previous</button>
      <input type="submit" value="submit query" *ngIf="step==2">

    </form>
    <div *ngIf="step==3">
    <p>your query : select {{ selectClause }} from public.some where {{whereClause}}</p>
    <br><br>
    <p>received response {{ resp | json }}</p>


    <table>
      <tr>
        <th *ngFor ="let c of columnheaders">
          {{ c }}
        </th>
        <tr *ngFor ="let r of resp">
          <td *ngFor="let c of columnheaders;let i=index">
            {{ r[i] }}
          </td>
        </tr>
    </table>
    <button (click)=previous() >Previous</button>
    <button (click)="ondownload()">download</button>
    <button (click)="restart()">restart</button>
    </div>






  </div>


