
<div>
  <nav >

    <ul>
      <li><strong><a  routerLink="home" routerLinkActive="active">NETX</a></strong></li>
    </ul>


        <ul>
        <li>


        <a  routerLink="dashboardinsights" routerLinkActive="active">Dashboard Insights</a>
         </li>
         <li>
        <a  routerLink="reportbuilder" routerLinkActive="active">Report Builder</a>
        </li>
        </ul>
        <ul>
          <a routerLink="/login" *ngIf="!_authService.loggedIn()" routerLinkActive="active">Login</a>

          <li>
          <a routerLink="/register" *ngIf="!_authService.loggedIn()" routerLinkActive="active">Register</a>
          </li>
          <li>
          <a *ngIf="_authService.loggedIn()"  (click)="_authService.logoutUser()">Logout</a>
          </li>
        </ul>

  </nav>
</div>

<router-outlet></router-outlet>


